body{
    background-color: #BBDEFB;
    font-family: 'Century Gothic';
    font-size: 14px;
    color: #333;
    padding: 0;
    line-height: 1.5;
}

#seccion_titulo{
    height : 100px;
    width : 100%;
    background-color: #2196F3;
    text-align: center;
    position: absolute;
}

#bienvenida{
    width: 100%;
    padding: 20px 0;
    margin-top: 10%;
    text-align: center;
    position: absolute;
}

#titulo{
    height: 100%;
    width: 100%;
    font-size: 40px;
    font-weight: 500;
    color: white !important;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    font-style: bold;
    position: absolute;

}

#Libros_Populares{
    height: 300px;
    width : 25%;
    background-color: white;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    border-radius: 16px;
    border : 1px solid #2196F3;
    margin-left : 15%;
    margin-top: 20%;
    
    position: absolute;
}

#Nuevos_lanzamientos{
    height: 300px;
    width : 25%;
    background-color: white;
    padding: 20px 0;
    margin-top: 20%;
    text-align: center;
    border-radius: 16px;
    border : 1px solid #2196F3;
    margin-left : 60%;
    
    position: absolute;
}

#divimgNL{
    height: 50%;
    width : 100%;
    bottom: 0;
    left: 0;
    border-radius: 16px;
    position: absolute;
}

#divimgLP{
    height: 50%;
    width : 100%;
    bottom: 0;
    left: 0;
    border-radius: 16px;
    position: absolute;
}


